html, body {
	height: 100%;	overflow: hidden; 
}
	
#commentbox {
	position: absolute !important;
}

.containerTable{
	height: 350px !important;	
}

.postmetadata{
	margin-top: 50px;
}

.commentarea{
	background-color: #E6E6E6 !important;
}


.commenticonbox {
	position: relative;
}

.commenticonbox img{
	position: absolute;
}

.commenticonbox small{
	position: absolute;
	left: 20px;
}


.cute_menu_icons{
	display: none;	
}


ol {
	padding-left: 40px;

}

html{
	overflow:scroll !important;	
}