/* comment icon */

.commenticon {

} 
.commenticonbox{
  float: right;
  margin-right: -35px;	
  cursor:pointer;    
	
}

.commenticon:hover {
} 


/* comments */
#comment{
	width: 91%;
	overflow: none;
}

.comment{
/*	margin-left: 10px;	
	margin-right: 10px;	*/

}

#comments {
	display: none;
/*	padding: 10px 0px 0px !important; */
	
}

.containerBody{
	height: 100%;
}

.containerTable{

}

.commentcount{
	font-size: 10px; 
	position:absolute; 
	float: right;
}

#comment_contents{
	vertical-align: top	!important;
	height: 100%;
	text-align: left;
}

.reply{
	text-transform: uppercase;
}
.reply:hover{
	cursor: pointer;
}

h6{
	font-size: 10pt !important;
}
#commentboxdrag{
	background-color:black;
	margin-left: -1px;
	margin-bottom: 2px;
}

#commentboxdrag:hover{
	cursor: move;	
}
#commentbox {
/*  padding: 0px 3px 18px 10px; */
/*  position: fixed !important;	*/
/*
  top: 10px;
  overflow: hidden;
  background-color: #FFF;
*/
	width: 470px;
	height: 450px;


}

.top:hover{
	cursor: move;
}
#commentwindow{
  position: relative;
  width: 450px;
  height: 400px; 
  padding-top: 20px;

}

.ui-accordion-content {
	padding: 0px !important;
}

/* text */
.textblock{
	padding: 10px;
	position: relative;
	margin-bottom: 0px;
}

#page{


	
}

.commentarea{

}

#new_comment{
	display: none;
	color: red;
	font-size: 10pt;
}


p{
	z-index: 501;
}

/* shadows  */
.shadow {

}



.border .insidebox {
	margin: 11px 0;
}

#write_comment{
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;	
	border-radius: 10px;
	width: 450px;

}

.border {
	margin-bottom: 20px;
	border-width: 1px;	
	border-style: solid;
	border-color: #000;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.border h3 {
/*	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	-khtml-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	*/
}

.border input[type="text"],
.border textarea {
/*	border-width: 1px;
	border-style: solid; */
}





.handle{ 
	background:#DFDFDF;
	text-shadow:0 1px 0 #FFFFFF;
	padding:7px 9px;
/*	cursor: move; */
	z-index: 1000;
}

#commentbox_handle{
	height: 12px;
	overflow: hidden;
	z-index: 1000;
	width: 100%;
	top: 0px;

	-moz-border-radius: 10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;

}

.handle h3 span{
	font-size:12px;
	font-height: bold;;

	-moz-border-radius: 10px 10px 10px 0px;
	-khtml-border-radius: 10px 10px 10px 0px;
	-webkit-border-radius: 10px 10px 10px 0px;
	border-radius: 10px 10px 10px 0px;

}

.embedcode{
	padding: 5px;
	display: none;
	position: absolute;
	left: 5px;
	width: 400px;
	height: 100px;
	background-color: white;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #aaa;
	text-align: left;
	background: #fff;
	z-index: 2000;
	font-size: 10px;
}

.embedcode textarea{
	font-size: 80%;
	width: 395px;
	height: 50px;
}

.embedcode input{
	width: 390px;
	font-size: 80%;
}


.selected_block{
	border-width: 2px;
	border-style: solid;
	border-color: #000;
    background-color: #FFFC00;
	position: absolute;
    opacity: 0.15; 
	z-index: 500;
	filter:alpha(opacity=60); 
	-moz-opacity: 0.15; 	
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


#selected_text{
	text-decoration: underline;
	background-color: #feff49; 
}


ol, ul{
	margin: 0px;
}

#write_comment{
	margin-bottom: 10px;	
}

#commentform p input{
	width: 150px;
}

#respond{
	padding-left: 5px;
	
}
#respond h3{
	font-size: 10pt;
	padding-bottom: 0px;
}

#commentbox h3{
/*	margin-top: 0px; */
/*	cursor: move; */

}



.ui-accordion-content{
	font-size: 8pt;
}

.subcommentlist{
	padding-left: 0px;
	list-style-type: none;
	font-size: 10pt;
}

.subcommentlist h3{
	font-size: 10pt;
}

.ui-icon{
	background-image: none !important;	
}

.paragraphnumber{
	font-size: 75%;
	left: -15px;
	position: absolute;
}



.collapsed{
	height: 20px;
}
.collapsed > a{
}

.expanded{
	height: auto;
}
.expanded > a{

}


#accordion > div > h6 {
	border:0 none;
	font-size:100%;
	line-height:1.3;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	text-decoration:none;
}



#accordion > div > h6 {
	border:0 none;
	font-size:100%;
	line-height:1.3;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	text-decoration:none;
}


#accordion > div > h6 {
	background:#E6E6E6 url(../js/jquery/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%; 
	border:1px solid #D3D3D3;
	color:#555555;
	font-weight:normal;
	outline-style:none;
	outline-width:medium;
	height: 25px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;	
	border-radius: 5px;
	
}


.commentblock{
	height: 100% ! important; 
	display: block;
	border: solid #DDD 1px;
	padding: 0 5px 0 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;	
	border-radius: 5px;
	
}
#accordion > div > h6 {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}

#accordion > div > h6{
	cursor:pointer;
	margin-top:1px;
	position:relative;
}

#accordion > div > h6 {
	cursor:pointer;
	margin-top:1px;
	position:relative;
}

#accordion h6 > a{

	line-height:1.8;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	cursor:pointer;	
	color:#555555;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;	
	padding:0.3em 0.5em 0.5em 5%;
}


/******************************************/

.commentbrowser .commentResponse{
	margin: 0px 0px 30px 0px;
}

.commentbrowser .commentlist li{
	margin-left: 0px;
}

.commentbrowser #commentslist{
	padding-right:40px
}

.commentbrowser #commentslist ul{
	padding: 0px;
	list-style: none;
}


.commentbrowser #commentslist li{
	font-size: 10pt;	
/*	line-height: 1.75em; */
	margin-bottom: 15px;
	list-style-type: none;
/*	width: 175px; */
}

.commentbrowser #commentslist ul li ul{

	line-height: 1.2em;
	margin: 0px;
	border: solid 1px #D0D0DD;
	padding: 10px;
	overflow: hidden;
}

.commentbrowser #commentslist ul li {
	margin: .5em 5px .5em 0;
	padding: 0;
}
.commentbrowser #commentslist ul li {
	list-style-type: none;
}

.commentbrowser #comments{
	padding-bottom: 20px;
}

.commentbrowser .tocList{
	margin-top: 0px;
}


