/*
AllowDrag:false
AllowIconize:false
AllowMinimize:false
AllowResize:false
SavePosition:false
*/

html, body {
border:0;
margin:0;
padding:0;
}
 
body {
font:100%/1.25 Arial, helvetica, sans-serif;
}
 
/***** Common Formatting for tags *****/
 
h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}
  
p, ul, ol {
margin:0;
padding:0 0 18px 0;
}

#top_bar{
	display: none;
} 
ul, ol {
/*margin: 0 0 0 15px;
padding: 0 0 18px 10px;*/
}

blockquote {
margin:25px 25px;
padding:0;
}
 
small {
font-size:0.85em;
}
 
img {
border:0;
}
 
sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}
 
sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}
 
acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

code {
	font: 1em "Courier New", Courier, mono;
	color: #009900;
} 
/***** Links *****/
 
a { 
	color: #6666FF;
	text-decoration: none; 
}
a:hover, a:visited:hover { 
	color: #dd0000;
	text-decoration: underline; 
}
a:visited { 
	color: #883388; 
}
a, a:visited {
text-decoration:none;
}
a img {
	border: 0px;
} 
 
/***** Forms *****/
 
form {
margin:0;
padding:0;
display:inline;
}
 
input, select, textarea {
font:1em arial, helvetica, sans-serif;
}
 
textarea {
line-height:1.25;
}
 
label {
cursor:pointer;
}
 
/***** Tables *****/
 
table {
border:0;
margin:0 0 18px 0;
padding:0;
}
 
  table tr td {
  padding:2px;
  }
 

/***** Global Classes *****/
 
.clear { clear:both; }
 
.floatLeft{ float:left; }
.floatRight   { float:right; }
 
.alignLeft { text-align:left; }
.alignRight{ text-align:right; }
.alignCenter   { text-align:center; }
.alignJustify  { text-align:justify; }
 
b, strong, .bold  { font-weight:bold; }
i, em, .italic{ font-style:italic; }
.underline { border-bottom:1px solid; }
.highlight { background:#ffc; }
 
.imgLeft  { float:left;margin:4px 10px 4px 0; }
.imgRight { float:right;margin:4px 0 4px 10px; }
 
.nopadding { padding:0; }
.noindent  { margin-left:0;padding-left:0; }
.nobullet  { list-style:none; list-style-image:none; margin-left: 0px;}


/***** CONTAINER CLASSES *****/
/* 	
	this container sets the page's 
	background color
	width + left padding = 1000px
*/
#container{
	background-color: #ffffff; 
	padding: 0px;
	min-height: 300px;	
	width: 1015px;
	height: 100%;
	padding: 20px 0px 0px 40px;
}

/* 	
	this container holds the post content (and breadcrumbs, and post navigation [next/prev] if any). 
	no left padding here, that's handled by the container_all div in this layout 
	width
	top padding
*/

#header {
	width: 100%;
}


/* 	
	search container
	absolutely positioned
	width + left padding = 200px
*/

#search {
	float: right;
	top: 0;
	width: 160px;
	height: 25px;
	padding: 10px 3px 10px 10px;
	background-color: #808088;
	white-space: nowrap;
}
#search #searchbox {
	font-size: .7em;
	width: 110px;
}
#search #searchbutton {
	font-size: .7em;
	padding: 0px;
}

#page{
	width: 1015px;
	height: 100%;
	background-color: white;
	padding-top:10px;
}

.frontpage #blurb{
	margin-top: 0px; 
}

/* 	
	this container holds the post content (and breadcrumbs, and post navigation [next/prev] if any). 
	no left padding here, that's handled by the container_all div in this layout 
*/
#content {

	padding: 0px;
	line-height: 1.2em;
	/*border: 1px solid #eeeeee;  for testing*/
	width: 475px;
	margin-left: 5px;
}


.post #content h2{
	margin-left: 10px;
}

.description{
	margin-left: 22px;
	text-transform: uppercase;
	font-size: 80%;
}
#comments {
	top: 30px;
	left: 450px;
	width: 350px;
	/*	padding: 50px 0 0 0;
	border: 1px solid #eeeeee;  for testing*/
}

/* sidebar class is in style.css */

#footer {
	background-color: #eee;
	font-size: .8em;
	line-height: 1.5em;
	margin-left: -30px;
	height: 75px;
	margin-top:50px;	
}

#footer p{
	padding: 20px 0 20px 30px;
	margin:0 0 0 20px;
}

/* COLUMNS */
#narrowcolumn{
	float: left;
	padding: 24px 0 0 0;
	width: 350px;	
}
#widecolumn{
	margin-left: 350px;
	width: 410px;
	padding: 24px 0 0 0;
}
#extrawidecolumn{
	margin-left: 370px;
	padding: 24px 0 0 0;
	width: 600px;
}


/* TO HELP WITH FRIVOLOUS */
#comment_read, #comment_index, #comment_help {
	display: none;
}

.html, body { 
 /* overflow-x:hidden; */
}
body {
	background-color: #808088; 
/*	background-color: white; */
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11pt;
}

a.sidebarLink { 
	color: #000000;
	text-decoration: none; 
}

h1, h2, h3, h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 0;
}
h1 {
	color: #dd0000;
	font-size: 2em;
	letter-spacing: .08em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	padding: .25em 0 .25em 0;
	margin-bottom: .5em;
}
h3 {
	color: #dd0000;
	font-size: .9em;
	letter-spacing: .12em;
	text-transform: uppercase;
}
h4 {
	font-size: .9em;
	font-weight: bold;
	margin-bottom: 3px;
}

p {
	margin-top: 0em;
}

.clear {
	clear: both;
}

/* ADDITIONAL FONT STYLES */
h1 a, h1 a:visited, h2 a, h2 a:visited {
	color: #000;
}
h2.content {
	width: 365px;
	border: 1px solid #fff;
	padding: .25em 2px .25em 2px;	/* padding and margin to allow for highlighting and border */
	margin: 0 0 .5em -2px;
}
code {
	font: 1em "Courier New", Courier, mono;
	color: #009900;
} 
.normalLight, .normalRed, .author_on_paragraph {
	color: #808088;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0;
	text-transform: none;
}
.normalRed {
	color: #d00;
}
.sansLight {
	color: #808088;
	font: 1em Arial, Helvetica, sans-serif;
	letter-spacing: .15em;
	text-transform: uppercase;
}
.sansRed, sansDark {
	color: #CC0000;
	font: 1em Arial, Helvetica, sans-serif;
	letter-spacing: .15em;
	text-transform: uppercase;
}

.postmetadata{
	margin-left: 10px;
}
.smLight, .postmetadata {
	color: #808088;
	font: 11px Georgia, Times, "Times New Roman", serif;
	line-height: 1.6em;
}
.smDark, .smRed {
	color: #000000;
	font: 11px Georgia, Times, "Times New Roman", serif;
	line-height: 1.6em;
}
.smRed {
	color: #d00;
}

.search-excerpt {
	background-color: #ee0;
}

/* ADDITIONAL STYLES */
.divider {
	border-top: 1px solid #808088;
	color: #ffffff;
	margin-top: 2px;
}

#header h1 { 
	width: 100%;
	margin-left: 20px;
}

#header h3 { 
	width: 100%;
	margin-top: -10px;
}


.icons {
	width: 42px;
	padding: 0;
	margin: 0;
	float: right;
	white-space: nowrap;
	text-align: center;
	font-size: .8em;
}
.icons a {
	text-decoration: none;
}

#content h3 {
	margin-bottom: .5em;
}
#content ol, #content ul {
/*	margin-left: 20px;
	padding-left: 10px; */
	font-size: .9em;
}
ul.bulletList li {
	list-style-type: disc;
}
ol li, ol.numberedList li {
	list-style-type:decimal;
	margin-left: 20px; 
	padding-left: 0px;
}
/***** NEXT/PREV navigation *****/
.navigation {
	font-size: 11px;
}
.navigation table {
	width: 395px;
}
.navigation td {
	width: 50%;
	padding: 0;
	}
td.alignLeft{
	padding: 0 10px 0 0;
}
td.alignRight {
	padding: 0 0 0 10px;
	text-align: right;
}


#sidebar > ul > .widget > div{
	border:1px solid #D0D0DD;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	line-height:1.2em;
	margin:0;
	overflow:hidden;
	padding:10px;
}


/* SIDEBAR */

.frontpage #sidebar{

}

.frontpage{
	width: 100%;
}

#logo small{
	display:block;
	font-size:9pt;	
}

.post .entry  p {
	margin:0 0;
	padding-bottom:0;
	padding-left:0px;	
}
.post h2{
	padding: 0px 0 0 0;
	margin: 0 0 0px 0px	
}

.entry p{
	padding: 0px 0px 0px 0px;
}
#sidebar {
	background-color: #fff;
	font-size: 10pt;
	width: 160px; 
	padding-right: 0px;
	float: right;
}

#sidebar li h2{
	color: #CC0000;
	font: 1em Arial, Helvetica, sans-serif;
	letter-spacing: .15em;
	text-transform: uppercase;	
}

#sidebar li{
	font-size: 10pt;	
/*	line-height: 1.75em; */
	margin-bottom: 15px;
	list-style-type: none;
/*	width: 175px; */
}

#sidebar ul li ul{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 1.2em;
	margin: 0px;
	border: solid 1px #D0D0DD;
	padding: 10px;
	overflow: hidden;
}

#sidebar ul li {
	margin: .5em 5px .5em 0;
	padding: 0;
}
#sidebar ul li {
	list-style-type: none;
}
.section ol li {
	margin-left: 20px;
	padding: 0;
}

.section div * {
	border: none;
}

/* styles for the sidebar usage with widgets */
.wideSidebar {
	width: 600px;
}
.wideSidebar .section {
	width: 175px;
	float: right;
	margin: 0 25px 0 0;
}

.wideSidebar .section ul.sidebarList {
	border: solid 1px #D0D0DD;
}



/* STYLES FOR COMMENTPRESS PAGE: COMMENTS BY USER */
.cp_indexList, .cp_indexListChild {
	line-height: 1.4em;
	position: relative;
	margin-bottom: 40px; /*eddie*/
}

.indexCommentsList {
	line-height: 2em;
	padding-right: 30px;
}





#commentbox{
	background-color:#FFFFFF;
	border:1px solid #D5DFE5;
	font-size:0.9em;
	height:365px;
	line-height:1.35em;
	margin:3px 0 0;
	width: 330px!important;
	top: 100px;
	left: 505px;
}



.paragraphnumber{
	left: -10px;
}

.commenticonbox{
	margin-right: -30px ! important;
	width: 15px;
}


.comment{
	list-style: none;
	margin: 10px 0;
	padding: 5px;
}

.subcommentlist{
	font-size: 8pt !important;
	padding-left: 0px;
}

.vcard{
	font-size:1em;
	font-weight:bold;
	letter-spacing:0.1em;
	text-transform:uppercase;	
}

#leftcolumn h2, #leftcolumn h3{
	margin-left:0;
	padding-left:0px;	
	
}

#leftcolumn{
margin-left: 20px;
}

.says{
	display: none;
}
.commentarea{
	font-size: 8pt;
}

.containerBody{
	width: 305px;
}

#accordion > div > h6 {
	background: none;
	border-width: 1px 0 0 0 !important;
	font-size:0.8em;
	letter-spacing:0.1em;	

	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;	
	border-radius: 0px;

}

#total_comments_message{
	color:#808088;
	font-style:normal;
	font-weight:normal;
	letter-spacing:0;
	text-transform:none;
	position: fixed;
	font-size: 80%;
	top: 70px;
	left: 510px;
}


#commentbox h3{
	padding: 8px;
	display: block;
}
#commentoverview h3{
	padding-top: 0px !important;
	margin-top: 2px;
	padding-bottom: 5px;
	margin-left: 3px;
}

#accordion > div > h6 a{
	color: #6666FF;
	text-transform: uppercase;

}


#commentbox{

}





.textblock{
	text-align: justify;
}
#documentIntro{
	padding: 25px 50px 0;
	float: left;
	width: 500px;
	
}





#toc {
	line-height:1.2em;
	padding:25px 0 0;
	width: 250px;
	float: left;
}