.submit{
	background:none repeat scroll 0 0 #409DD7;
	color:white;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	padding:5px 10px;
	position:absolute;
	right:0;
	text-align:right;
}

.submit:hover{
	cursor:pointer;cursor:hand;
}

.submit{
	/*
	position: absolute;
	bottom:0;
	right: 0;
	*/
}

.comment-reply{
/*	background-color:black;
	color:white;
	cursor:pointer;
	display:none;
	height:20px;
	padding:0 45px;
	position:absolute;
	right:-10px;
	top:-1px; */

}

.comment-goto  {
	cursor:pointer;
	display:none;
	padding:0 10px;
	position:absolute;
	right:0;
	top:0;
}

.comment-reply a{
	color: white;
	text-decoration: none;
}
.comment-goto a{
	color: white;
	text-decoration: none;
}


#comments-toolbar #cancel-response{

}

#cancel-response{
	display: inline;
	display: none;
}


.comment-text a {
	border-bottom:1px dotted #409DD7;
	color:#409DD7;
	text-decoration:none;
}

.children{
	margin: 0px
}

.children .children{
	margin: -0px 0 0px;
background:  none;
}

.children .depth-2{
	margin: 0 0px 0px 20px;
}

.children .depth-3{
	margin: 0px 0 0 40px;
}




.comment-header{
	/*
	height:20px;
	left:5%;
	position:absolute;
	right:10px;
	top:-19px;
	text-align: right;
	*/
}

.comment-date{
	float:right;
	font-size:12px;
	font-weight:bold;
	margin-right: 15px;
	margin-left: 0px;
}

.comment-author{
	width: 200px;
	display: inline;
	font-weight: bold;
	text-align: left;
}
.comment-author a{
	color: black;
	text-decoration: none;
}


.comment-meta{
	position:absolute;
	right:0;
	top:5px;
	width:300px;
}

.comment-text{
/*	color: black; */
	clear: both;
	margin-top: 5px;
}
.comment-text p{
	padding: 0px;
}


.children  .comment-header{
/*	left:10%; */
}

.children .children .comment-header{
/*	left:15%;	*/
}


#comment-browser .comment-goto {
	display: block;
}

.comment-browser h3{
	padding-top: 50px;
}