/* Lightbubbles  */
div.bubble {
	width: auto;
	font-size: 0.75em;
	margin-bottom: 24px;
}

div.bubble blockquote {
	margin: 0px;
	padding: 0px;
	border: 1px solid #c9c2c1;
	background-color: #fff;
}

div.bubble blockquote p {
	margin: 10px;
	padding: 0px;
}

div.bubble cite {
	position: relative;
	margin: 0px;
	padding: 7px 0px 0px 15px;
	top: 6px;
	background: transparent url(images/tip.gif) no-repeat 20px 0;
	font-style: normal;
}

/* Rounded Bubble */
div.bubble div.rounded {
	margin-bottom: 10px;
	border: 3px solid #fff;
	background-color: #b7e0ff;
}
div.bubble div.rounded blockquote {
	border: 0;
	background-color: transparent;
}
div.bubble div.rounded blockquote p {
	margin: 0px 10px;
}
div.bubble cite.rounded {
	position: relative;
	margin: 0px;
	padding-left: 15px;
	padding-top: 12px;
	top: 9px;
	background: transparent url(images/tip-rounded.gif) no-repeat 15px 0;
}

/* Pimped Bubble */
div#pimped.bubble {
	font-size: 0.9em;
}
div#pimped.bubble div.rounded {
	color: #fff;
	border: 3px solid #fff;
	background-color: #111;
}
div#pimped.bubble cite.rounded {
	background: transparent url(images/tip-pimped.gif) no-repeat 15px 0;
}


/************ LIGHTBOX INTERFACE *************/


.lightbox-content{
	z-index: 1000;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	
}


.lightbox-header{
	height:20px;
	left:-6px;
	padding:0;
	position:absolute;
	text-align:left;
	top:-15px;
	width:390px;
	z-index:-1;
}

.lightbox-content{
	display:none;
	z-index: 1000;
	background-color: white;
	text-align: left;
	position:fixed;
	text-align:left;
	padding: 25px 50px 25px 40px;
	background-color: #f4f8f8;
	border: 6px solid white;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	

}

/*
.lightbox-close{
	background:url("images/Lightbox_xCloseBTN.png") no-repeat scroll 0 0 transparent;
	color:white;
	font-size:16px;
	font-style:italic;
	left:0;
	margin:0;
	padding:15px;
	position:absolute;
	text-align:left;
	top:0;
	z-index:5;
}
*/

.error{
	font-size: 14px;
	color: red;
}

.absolute{
	position: absolute;
}
.top{
	top: 0;
}

.left{
	left: 0;
}


.disabled{
	background-color: #AAA !important;
	color: #DDD !important;
	
}

.lightbox-content a{
	text-decoration: none;
	color: #4A4848;
}

.lightbox-close{
	cursor:pointer;cursor:hand;
	position:absolute;
	right:0;
	top:0;
	padding: 16px;
}


.lightbox-content .ribbon{
	height:50px;
	left:-16px;
	min-width:300px;
	padding:0 15px 0 0;
	position:absolute;
	top:-34px;
}

.lightbox-content  .ribbon-left{
	height:55px;
	margin:0;
	position:absolute;
	width:10px;
}
.lightbox-content .ribbon-title{
	color:white;
	display:inline;
	font-size:20px;
	height:35px;
	left:10px;
	margin:0;
	padding:6px 21px 0 10px;
	width: 55%;
	position:absolute;
}
.lightbox-content  .ribbon-right{
	height:36px;
	left:68%;
	margin:0;
	position:absolute;
	width:15px;
}


.ribbon-login{
	padding: 10px 20px;	
	margin: 0;
	
}
.ribbon-register{
	padding: 10px 20px;	
	margin: 0;

}





.lightbox-submit, .lightbox-button {
	background:none repeat scroll 0 0 #409DD7;
	color:white;
	font-size:18px;
	font-weight:bold;
	min-width:auto;
	padding:10px;
	text-align:right;
	width:auto
}

.lightbox-content input{
	background-color:#FEFEE0;
	color:#666666;
	font-size:20px;
	padding:5px;
}

.lightbox-button:hover, .lightbox-submit:hover{
	cursor:pointer;cursor:hand;
}

.lightbox-submit{
	position: absolute;
	bottom:0;
	right: 0;
}



.toolbar{
	position: absolute;
	top: 0;
	left: 0;
}


#lightbox-login .lightbox-header{

}

.lightbox-content form{
	z-index: 100;
	padding-bottom:40px;
}

a:hover{
	cursor:pointer;cursor:hand;
}

.lightbox-transparency{
	background-color: black;
	z-index: 110;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	
	filter: alpha(opacity=50);
	opacity: .5;
	width: 100000;
	height: 100000;
	
}

.comment-sticky{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: black;
}

.comment .comment-sticky{
	background-color: transparent;
}


.lightbox-register:hover{
	text-decoration: underline;
}
.lightbox-reset-password:hover{
	text-decoration: underline;
}


#lightbox-login{
/*	background:none repeat scroll 0 0 white;
	border:1px solid;
	display:none;
	padding:15px 108px 50px 90px;
	position:absolute;
	text-align:left;
	z-index:200;		
	height: auto;
	width: auto;*/
}

#lightbox-moderate-comment-sticky{


}
#lightbox-moderator-log {
	display:none;
}


#lightbox-survey{

}



.lightbox-next{
	position: absolute;
	bottom: 0;
	right: 0;

}

.lightbox-previous{
	position: absolute;
	bottom: 0;
	left: 0;
}


.lightbox-slider{
	width: auto;
	height: auto;
}


.lightbox-content input, .lightbox-content textarea{
	background:none repeat scroll 0 0 #FBFBFB;
	border:1px solid #E5E5E5;
	font-size:24px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	padding:3px;
	width:auto;
}

.lightbox-slot{
	position: relative;
	left: 10;
}


.lightbox-content .input{
	background:none repeat scroll 0 0 #FBFBFB;
	border:1px solid #E5E5E5;
	font-size:24px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	padding:3px;
	width:auto;
}

.lightbox-content p {
	padding-bottom: 0;
}


.lightbox-content{
}


.lightbox-content input {
	background-color: white !important;
	font-size:15px !important;
}




.lightbox-slot-5{
	position: absolute;
}






