

#comments-toolbar{
	background:none repeat scroll 0 0 transparent;
	border-width:0 0 2px;
	overflow:hidden;
	padding:0;
	position:fixed;
	top:100px;
	width:414px;
	z-index:100;
	display: none;
	padding: 3px 0 0;
	
/*	-moz-box-shadow: 5px 10px 1em #CCCCCC; */
}


#comments-toolbar #comment{
	height: 20px;
}

.single #commentbox {
	overflow-x: hidden;
	overflow-y: scroll;
/*	background: none repeat scroll 0 0 transparent; */
	overflow-y: scroll;
/*	-moz-box-shadow: 5px 10px 1em #CCC; */
/*	overflow:hidden;
	overflow-x:hidden; */
	border:1px solid #B4BDBD;

		
}



.type-post .widget_text,
.type-post .widget_links, 
.type-post .widget_meta, 
.type-post .widget_calendar, 
.type-post .widget_pages, 
.type-post .widget_tag_cloud, 
.type-post .widget_search,
.type-post .previews,
.type-post .widget_text{
    margin: 3px;
    padding: 25px;
    width: 451px;
}

.navigation-next{
	float: right;
	font-size: 75%;
}

.navigation-previous{
	float: left;
	font-size: 75%;
	
}
#no-comments{
	background:none repeat scroll 0 0 white;
	border:1px solid #DDDDDD;
	color:#474747;
	display:none;
	margin:10px 5px;
	padding:10px;
}

#respond{
	border-width:2px 0;
	height:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	padding:5px 0 40px;
	text-align:left;
	width:100%;
	display: none;
}

