.ribbon-right{
	margin-left: -5px;
}

.learn-more-video-frame{
	margin-top: 20px;
}

.sidebar-comment-count-single-dark  {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_1digit.png") no-repeat scroll 0 3px transparent;
}
.sidebar-comment-count-double-dark  {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_2digit.png") no-repeat scroll 0 3px transparent;
}
.sidebar-comment-count-triple-dark  {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_3digit.png") no-repeat scroll 0 3px transparent;
}


.sidebar-comment-count-single-grey   {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_1digit.png") no-repeat scroll 0 3px transparent;
}
.sidebar-comment-count-double-grey  {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_2digit.png") no-repeat scroll 0 3px transparent;
}
.sidebar-comment-count-triple-grey  {
	background:url("images/RuleHome/bubbles_darkx3/bubble_dark_3digit.png") no-repeat scroll 0 3px transparent;
}
