/************ LIGHTBOX INTERFACE *************/


.lightbox-content{
	z-index: 1000;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	
}


.lightbox-header{
	height:20px;
	left:-6px;
	padding:0;
	position:absolute;
	text-align:left;
	top:-15px;
	width:390px;
	z-index:-1;
}

.lightbox-content{
	display:none;
	z-index: 1000;
	background-color: white;
	text-align: left;
	position:fixed;
	text-align:left;
	padding: 25px 50px;
	background-color: #f4f8f8;
	border: 6px solid white;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	

}

/*
.lightbox-close{
	background:url("images/Lightbox_xCloseBTN.png") no-repeat scroll 0 0 transparent;
	color:white;
	font-size:16px;
	font-style:italic;
	left:0;
	margin:0;
	padding:15px;
	position:absolute;
	text-align:left;
	top:0;
	z-index:5;
}
*/

.error{
	font-size: 14px;
	color: red;
}

.absolute{
	position: absolute;
}
.top{
	top: 0;
}

.left{
	left: 0;
}


.disabled{
	background-color: #AAA !important;
	color: #DDD !important;
	
}

.lightbox-content a{
	text-decoration: none;
	color: #4A4848;
}

.lightbox-close{
	cursor:pointer;cursor:hand;
	position:absolute;
	right:0;
	top:0;
	padding: 15px;
}


.lightbox-content .ribbon{
	height:50px;
	left:-16px;
	min-width:300px;
	padding:0 15px 0 0;
	position:absolute;
	top:-34px;
}

.lightbox-content  .ribbon-left{
	height:55px;
	margin:0;
	position:absolute;
	width:10px;
}
.lightbox-content .ribbon-title{
	color:white;
	display:inline;
	font-size:20px;
	height:35px;
	left:10px;
	margin:0;
	padding:6px 21px 0 10px;
	width: 55%;
	position:absolute;
}
.lightbox-content  .ribbon-right{
	height:36px;
	left:68%;
	margin:0;
	position:absolute;
	width:15px;
}


.ribbon-login{
	padding: 10px 20px;	
	margin: 0;
	
}
.ribbon-register{
	padding: 10px 20px;	
	margin: 0;

}





.lightbox-submit, .lightbox-button {
	background:none repeat scroll 0 0 #409DD7;
	color:white;
	font-size:18px;
	font-weight:bold;
	min-width:auto;
	padding:10px;
	text-align:right;
	width:auto
}

.lightbox-content input{
	background-color:#FEFEE0;
	color:#666666;
	font-size:20px;
	padding:5px;
}

.lightbox-button:hover, .lightbox-submit:hover{
	cursor:pointer;cursor:hand;
}

.lightbox-submit{
	position: absolute;
	bottom:0;
	right: 0;
}



.toolbar{
	position: absolute;
	top: 0;
	left: 0;
}


#lightbox-login .lightbox-header{

}

.lightbox-content form{
	z-index: 100;
	padding-bottom:40px;
}

a:hover{
	cursor:pointer;cursor:hand;
}

.lightbox-transparency{
	background-color: black;
	z-index: 110;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	
	filter: alpha(opacity=50);
	opacity: .5;
	width: 100000;
	height: 100000;
	
}

.comment-sticky{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: black;
}

.comment .comment-sticky{
	background-color: transparent;
}


.lightbox-register:hover{
	text-decoration: underline;
}
.lightbox-reset-password:hover{
	text-decoration: underline;
}


#lightbox-login{
/*	background:none repeat scroll 0 0 white;
	border:1px solid;
	display:none;
	padding:15px 108px 50px 90px;
	position:absolute;
	text-align:left;
	z-index:200;		
	height: auto;
	width: auto;*/
}

#lightbox-moderate-comment-sticky{


}
#lightbox-moderator-log {
	display:none;
}


#lightbox-survey{

}


