/*	
Plugin Name: Digress.it
Plugin URI: http://digress.it
Description:  digress.it allows readers to comment paragraph by paragraph in the margins of a text. You can use it to comment, gloss, workshop, debate and more!
Author: Eddie A Tejeda
Version: 3.0
Author URI: http://www.visudo.com
License: GPLv2 (http://creativecommons.org/licenses/GPL/2.0/)
Tags: buddypress

Special thanks to:	
Matteo Bicocchi @ www.open-lab.com
The developers of JQuery @ www.jquery.com
Mark James, for the famfamfam iconset @ http://www.famfamfam.com/lab/icons/silk/
Joss Winn and Tony Hirst @ writetoreply.com
Jesse Wilbur, Ben Vershbow, Dan Visel and Bob Stein @ futureofthebook.org
Cynthia Farina, Mary Newhart, and Austin Austice at Cornell University
*/

/**********  GLOBAL RULES  **********/

@font-face {
/*  font-family: League Gothic;
  src: url(League Gothic.otf) format("opentype");
*/
}
 
h1, h2, h3, h4, h5, h6 {
/*  font-family: League Gothic, Lucida Grande, sans-serif;  */
}

html, body, #wrapper{ 
/*	height: 100%;  */
	margin: 0; 
	padding: 0; 
	overflow: inherit;
}

body {
	font-size: 13px; /* Resets 1em to 10px */
	color: #474747;
	text-align: center;
    font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 18px;
	background: #e6e6e6;
}


/**********  HEADER   **********/

#header {
	background:none repeat scroll 0 0 #F8F8F8;
	border-color:#BDBDBD;
	border-style:solid;
	border-width:1px 1px 0;
	height:45px;
	margin:10px auto 0;
	position:relative;
	width:1000px;

}


h1, h2, h3, h4, h5, h6, h7, h8, strong{
	padding: 0;
	margin: 0;
	font-weight: normal;
}



/*********** PRIMARY MENU **************/

#menu-primary{
	padding:12px 0 14px;
	position:absolute;
	right:5%;
	text-align:right;
	top:0;
	width:500px;
	z-index:0;
}


.page_item{
	display: inline;
}


.display-block{
	display: block !important;
}


#submit{

}


.slideout{
	height:150px;
	position:fixed;
	right:-235px;
	width:265px;
	z-index: 100000;
}

.logged-in .slideout{
	height:150px;
	position:fixed;
	right:-235px;
	width:265px;
}


.issue_slide{
	background:url("images/Global/issue_slide.png") no-repeat scroll center center transparent;	
}

.rule_slide{
	background:url("images/Global/rule_slide.png") no-repeat scroll center center transparent;
}

.tutorial-videos{
	color:#7E828D;
	margin-bottom:10px;
	margin-top:0;
	position:relative;
	text-align:center;
	width:600px;
	margin-left: 20px;
}
.tutorial-videos-left{
	left: 10px;
	float: left;
}

.tutorial-videos-right{
	left: 200px;
	margin-left: 200px;
}


#comment{
	height: 80px;
	width: 95%;
	padding: 5px;
	color: #3D9DDD;
}

.comment-collapsed{
	border:2px solid #E0E4E4;
/*	display:inline;
	font:status-bar;
	font-size:15px;
	font-weight:bold; */
	height:100px;	
}


.comment-expanded{
	border:2px solid #E0E4E4;
	font-size:10px;
	height:100px;
	color: black;	
}


/******* SECONDARY MENU ************/
#menu-secondary{
	background-color:#f4f8f8;
	font-size:13px;
	height: 0;
	padding:2px 0 25px;
	position:relative;
	width:100%;
	z-index:10;
}

.front-page #menu-secondary{
	background-color:#C2C6C6;
	font-size:15px;
	height:3px;
	position:relative;
	width:100%;
	z-index:10;
	padding: 0px;
}
img{
	border: 0px;
}

#profile-expanded{
	margin:12px auto 0;
	position:relative;
	width:200px;
}



#wrapper {
	width:100%;
	text-align: left;
	background: #f5f8f8;
	position: relative;
	margin: 0 auto;
	left: 0;
/*	min-height: 600px; */
}


#content{
/*	width: 768px; */
/*	padding-bottom: 100px; */
/*	min-height: 600px;  */
	background-color: #F8F8F8;
	width:1000px;
	margin:0 auto;
}

#footer {

}

#footer div{
	padding: 10px;	
}


.single #content{
	min-height:600px;
	padding-bottom:400px;
	max-width:1000px;
	margin: auto;
	/* */
	background-color: white;	
}

.no-comment-browser{
	padding-top: 5px;
}


.the_title{
	margin:0 auto;
/*	width:1024px; */
	width: 1000px; 
	position: relative;	
	font-size: 20px;
	background-color:white;
/*	padding: 20px 0; */
	
}

.entry{
	padding: 20px;
}
.home #content{
	margin:0 auto;
/*	width:1024px; */
	width: 1000px; 
	position: relative;
	min-height:500px;	

	background:none repeat scroll 0 0 #F8F8F8;
	border-color:#BDBDBD;
	border-style:solid;
	border-width:0px 1px;
}


#wrapper{
	background:none repeat scroll 0 0 #F5F8F8;
	margin:0 auto;
	min-height:100%;
	position:absolute;
}



.clear{
	clear: both;
}


#loginbox{
	display: none;
}


.lightbox-terms-of-service{
	width: 100%;
	position: relative;
}

.terms-of-service-agreement{

	background:url("/wp-content/themes/regulationroom/images/ModInterface/Icon_useless.png") no-repeat scroll center center #B42A2F;
	height:10px;
	margin-left:0;
	margin-right:10px;
	padding-bottom:5px;
	padding-right:10px;
	padding-top:5px;
	position:absolute;
	width:6px;
	z-index: -1;
}


/************ FRONT PAGE **************/
#commentwindow{
/*	position: absolute; */
}


#must-be-logged-in{
	font-size:14px;
	line-height:20px;
	padding:5px;
}

.search #menu-secondary{
	padding: 0 0 4px;
}


.timeline-timer{
	background:url("images/icon-timer.png") no-repeat scroll center center transparent;
	left:10px;
	padding:15px;
	position:absolute;
	top:5px;
}

.timeline-start-date{
	font-weight:bold;
	left:35px;
	position:absolute;
	text-transform:uppercase;
	top:13px;
	width:50px;
}


.timeline-end-date{
	color:#C7C7C7;
	font-weight:bold;
	position:absolute;
	right:30px;
	text-transform:uppercase;
	top:13px;
	width:50px;
	
}

.front-page .timeline-end-date{
	right:20px;

}


.home #learn-more-video-ribbon{
	background:url("images/LearnBannerTOPribbon.png") no-repeat scroll center top transparent;
	height:45px;
	left:7px;
	position:absolute;
	top:0;
	width:250px;
	z-index:100;
}





.glossary{
	text-decoration: none;
	position: relative;
	border-width: 0 0 1px 0;
	border-style: dotted;
}

.glossary:hover{
	cursor: help;
}




.single .post{
/*	margin-top:20px; */
	width:50%;
	max-width: 800px;
	padding: 20px; 
}

.comments-toolbar-icon{
	position: relative;
}
.tooltip{
	-moz-box-shadow:0 0 1em #AFAFAF;
	background:none repeat scroll 0 0 white;
	border:1px solid;
	display:none;
	overflow:auto;
	padding:7px;
	position:absolute;
	text-align:left;
	top:15px;
	left: 0;
	width:100px;
	z-index:100;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	
	color: black;
	font-size: 8px;
	text-transform: capitalize;

}

.definition{
	-moz-box-shadow:0 0 1em #AFAFAF;
	background:none repeat scroll 0 0 white;
	border:1px solid;
	display:none;
/*	left:55px; */
	overflow:auto;
	padding:7px;
	position:absolute;
	text-align:left;
	top:-20px;
	width:200px;
	z-index:100;
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;	

}


/************ COMMENTS **************/

.float-left{
	border-left:2px solid #AFAFAF;
	float:left;
	margin-left:3%;
}

.float-right{
	border-right:2px solid #AFAFAF;
	float:right;
	margin-right:3%;
}

.icon-email-medium{
	background:url("images/social-icons-medium.png") no-repeat scroll 0 0;
	padding:10px 20px;
}
.icon-facebook-medium{
	background:url("images/social-icons-medium.png") no-repeat scroll 0 -43px transparent;
	padding:10px 20px;
}
.icon-twitter-medium{
	background:url("images/social-icons-medium.png") no-repeat scroll 0 0;
	padding:10px 20px 15px;
}
.icon-rss-medium{
	background:url("images/social-icons-medium.png") no-repeat scroll 0 -92px;
	padding:10px 0 10px 50px;
}
.icon-googlebuzz-medium{
	background:url("images/social-icons-medium.png") no-repeat scroll 0 189px;
	padding:10px 20px;
}




.icon-facebook-small{
	background:url("images/social-icons-small.png") no-repeat scroll -21px 0 transparent;
	left:585px;
	padding:5px;
	position:absolute;
	top:41px;
}
.icon-twitter-small{
	background:url("images/social-icons-small.png") no-repeat scroll -21px 0 transparent;
	left:585px;
	padding:5px;
	position:absolute;
	top:41px;
}




.share{
	padding: 10px;
}
#commentbox{
	height:365px;
	margin:0px 0 0;
	width: 415px;
	top: 150px;
	margin-left: 10% + 400px;
/*	border: 1px solid #DDE0E0;  */
/*	background: white; */
	position: absolute;
	overflow-x: scroll;
	z-index: 100;
	display: none;
	background-color: #D5E8F1;

}


#dynamic-sidebar{
	left:-240px;
	position:absolute;
	text-align:left;
	z-index:100;
/*	top: -27px; */
/*	background-color: #F3F8F8; */
	background-color: white;
	height: 100%;
}


#dynamic-sidebar.fixed_position{
	top: 0px;
	position: fixed;	
}


#container{
	position: relative;
	padding: 0;
	margin: 0;
}

.page-template #header{

}

#dynamic-sidebar.absolute_position{
	position: absolute;
}


#dynamic-sidebar .widget_text{
	margin:0 auto;
}



.bottom-border-line{
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px solid #b0b2b2;
	background-color: #4a4a4a;
	
}
.rule-home-text{
	left:20px;
	position:absolute;
	text-transform:uppercase;
	top:6px;
}

.pingback{
	display: none;
}
.rule-home-text a{
	text-transform:capitalize;
	
}

.blue{
	color: #3D9DDD;
}
.pingback{
	display: none;
}

.search-highlight{
	background-color: #f6ff00	;
}



.page-template #menu-secondary-participate{
	display: none;
}
.page-template #menu-secondary-agency-documents{
	display: none;
}
.agency-documents #menu-secondary-agency-documents{
	display: block;
}




.commentlist #respond{
	border:0 none;
	margin-top:0;
	padding:5px;
}

.commentlist #respond{
	color:#3D9DDD;
	height:170px;
	padding:0;
	width:100%;
}
/* selected 
.sidebar-current .sidebar-comment-count-single{
	background:url("images/Blackbubble_3digit.png") no-repeat scroll 0 0 transparent;
}
.sidebar-current .sidebar-comment-count-double{
	background:url("images/Blackbubble_3digit.png") no-repeat scroll 0 0 transparent;
}
.sidebar-current .sidebar-comment-count-triple{
	background:url("images/Blackbubble_3digit.png") no-repeat scroll 0 0 transparent;
}
*/

.home #sidebar{
	left: 0px;	
}


.page #sidebar{
	left: 0;
	width: 0;
}






/*********** SINGLE POST **************/

.single-post-title{
	background-color:#F8CF65;
	border-color:#F6AF1B;
	border-style:solid;
	border-width:0 3px 1px;
	font-size:14px;
	font-weight:bold;
	height:20px;
	padding:3px 2px 2px;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:95%;
}

.single-post-title a{
	text-decoration: none;
	color: black;
}

.post .single-post-title-ribbon{
	background:transparent url('images/Global/ribbon_endcap_yellow.png') no-repeat scroll 0 0;
	height:35px;
	position:absolute;
	right:-40px;
	top:0;
	width:40px;
}

.post .single-post-title-ribbon-shadow{
	background:url("images/Global/ribbon_curl_yellow.png") no-repeat scroll 0 0 transparent;
	height:60px;
	left:-10px;
	position:absolute;
	top:0;
	width:80px;
}


.textblock{
	background-color:white;
	margin-bottom:12px;
	padding:10px;
	position:relative;
	border:0px solid #b4bdbd;
	border-width:1px;
	min-height: 100px;
	
}

.selected-textblock {
/*	border:1px solid #3D9DDD; */
}

#textblock-1{
	margin-bottom: 20px;
}


/* background:url("images/Global/ooo.png") no-repeat scroll 124px 31px #F5D46D; */

.paragraphnumber{
	display: none;
}

.comment{
	border-color:#B4BDBD;
	border-style:solid;
	border-width:1px 0 0 0;
	color:black;
	margin:0 2px 15px;
	padding:5px 5px 20px;
	position:relative;
	text-align:left;
}



.comment-selected{
	background: #3D9DDD;
}


.commentlist{
	padding:0;
	}

.commenticonbox{
	border-color:transparent;
	border-style:solid;
	border-width:1px 1px 1px 0;
	height:110px;
	margin:0;
	position:absolute;
	right:-36px;
	top:-1px;
	width:35px;
}


.link:hover{
	cursor:pointer;cursor:hand;
	text-decoration: underline;
}

.selected .comment-author a , .selected .comment-date{
	color: white;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.selected-textblock .commenticonbox{
	border-color:#B4BDBD;
	
/*	background: url("images/Issue/Discuss.png") no-repeat scroll 11px 50px #3D9DDD; */
/*
	background-color: #D5E8F1;
	border-color:#B4BDBD;
	border-style:solid;
	border-width:1px 1px 1px 0;	
*/
}

#textblock-1 .commenticonbox{
	
/*	background: url("images/Issue/overview.png") no-repeat scroll 11px 50px #DFE4E4; */
/*	background-color: transparent;  */
}

#textblock-1 .selected-paragraph{
/*	background: url("images/Issue/DiscussOverview.png") no-repeat scroll 11px 50px #3D9DDD; */
/*	background-color: #D5E8F1; */
}


#textblock-1 .selected-paragraph{
/*	background: url("images/Issue/DiscussOverview.png") no-repeat scroll 11px 50px #3D9DDD; */
}

.selected-textblock{
	background-color:#D5E8F1;
	border-color:#B4BDBD;
	border-style:solid;
	border-width:1px;
}

.selected-textblock .commenticonbox{
	background-color:#D5E8F1;
	border-color:#B4BDBD;
	border-style:solid;
	border-width:1px 1px 1px 0px;
}

.single-heading{
	background-color: #dbe0e0;
}
/*
#textblock-1 .selected-paragraph{
	background: url("images/Overview(text)hover_select.png") no-repeat scroll 11px 50px #3D9DDD !important;
}
*/
/* #348ACE !important */

.commenticonbox:hover{
	cursor:pointer;cursor:hand;
}
.paragraphtext{

}
.reply{
	margin-bottom:10px;
	margin-right:10px;
	text-align:right;
}
.paragraphtext img{
	max-width: 550px;
}


.menu-secondary a{
	color: #727373 !important;
	text-decoration: none !important;
}

.menu ul{
	margin: 0;
	padding: 0;
}


#reponding-to-header{
	padding: 5px;
}






.shadow{
	 -moz-box-shadow: 0 0 1em #afafaf;
	-webkit-box-shadow: 0 0 1em #afafaf;		
}

.scroll-y{
	overflow-y: scroll;
}
.scroll-x{
	overflow-x: scroll;	
}


.height-50{
	height: 50px;
}
.height-100{
	height: 100px;	
}
.height-200{
	height: 200px;		
}
.height-300{
	height: 300px;		
}
.height-400{
	height: 400px;		
}
.height-500{
	height: 500px;		
}


.width-50{
	width: 50px;			
}
.width-100{
	width: 100px;		
}
.width-200{
	width: 200px;			
}
.width-300{
	width: 300px;		
}

.width-400{
	width: 400px;		
}

.width-500{
	width: 500px;		
}

.border-solid-1{
	border: solid 1px;
}
.border-solid-2{
	border: solid 2px;
}


.button-disabled{
	background-color:#EFEFEF !important;
	color:#CDCDCD !important;
	text-decoration:none;
}

.button-disabled:hover{
	cursor:not-allowed; cursor:  no-drop !important;
/*	color: #BBB; */
	text-decoration: none;
}
.button-disabled a:hover{
	cursor:not-allowed; cursor:  no-drop !important;
/*	color: #BBB; */
	text-decoration: none;
}



.comment-icon{
	height:5px;
	margin-right:5px;
	padding:6px 7px;
	float: right;
}

.comment-header{
	background-color: transparent;
}

.disabled-button{
	background-color: #DFE4E4;
}


.comment-view-discussion{
/*	border:2px solid; */
	padding:7px 100px;
	position:absolute;
	right:0;
	top: 0;
	display: none;
}

/*
.comment-view-discussion:hover{
	background:url("images/Profile_ViewDiscussion_hover.png") no-repeat scroll center right;
}
*/












/************ FOOTER *************/
.clearfooter {
	height: 5px;
	clear: both;
}

#footer {

	background:none repeat scroll 0 0 #F8F8F8;
	border-color:#BDBDBD;
	border-style:solid;
	border-width:0px 1px 1px;
	
	bottom:10px;
	padding:20px 0 20px;
	position:relative;
	width:1000px;
	z-index:90;
	margin: 0 auto;
}


#footer p{
	border-color:#E9E9E9;
	border-style:solid;
	border-width:0 2px;
	margin-left:5%;
	margin-right:11%;
	padding-right:2%;
	text-align:right;
}
	
#footer a{
	color: #4a4a4a;	
	text-decoration: none;
}

#footer a:hover{

}

.footer-content{
	padding: 10px 0 10px;
}



.single .comment{

}


.page-id-209 .entry img{
	border:0 none;
	float:left;
	padding:0 20px 20px 0;	
}

.page-id-209 .entry p{
	padding: 20px 0;
	
}




/**** LOADING BARS *******/

.loading{
	background:url("images/loading-large.gif") no-repeat scroll center center transparent;
	padding: 75px;
	z-index: 100;
	display:none;
	
}


.loading-bars{
	background:url("images/loading-bars.gif") no-repeat scroll center center transparent;
	padding: 10px;
	z-index: 100;
	display:none;
	margin: 0 5px;
	float: left;
}


.loading-circles{
	background:url("images/loading-circles.gif") no-repeat scroll center center transparent;
	padding: 10px;
	z-index: 100;
	display:none;
}

.loading-circle{
	background:url("images/loading-small.gif") no-repeat scroll center center transparent;
	padding: 5px;
	padding: 10px;
	display:none;
	
}

.loading-bar{
	background:url("images/loading-bar.gif") no-repeat scroll center center transparent;
	padding: 10px;
	z-index: 100;
	display:none;
}

.loading-throbber{
	background:url("images/loading-throbber.gif") no-repeat scroll center center transparent;
	padding: 10px;
	z-index: 100;
	display:none;
}


#mainpage{
	padding-bottom:20px;
	padding:20px 20px;
	min-height: 550px;
}

.site-title{
	display:inline;
	float:left;
	text-decoration: none;
}

.menu{
	margin: 0;
	padding: 14px;
	text-align: right;
}
#header .menu ul{
	text-align: right;
	margin: 0;
	padding: 0;
}

#header .menu li{
	display: inline;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}

#header .menu li a{
	color:#8E8E8E;
	font-family:times New Roman;
	font-size:15px;
	font-style:oblique;
	text-decoration:none;
}



#frontpage .widget_text h4{
	font-size: 24px;
	padding: 5px 0;
}

#frontpage .widget_text{
	border:1px solid;
	float:left;
	margin:50px 30px;
	padding:25px;
	width:200px;
}


.single .entry {
	border-bottom: 1px solid #B4BDBD;
}


#airline-passenger-rights-rule-icon{	
	background:url("/wp-content/plugins/regulationroom/images/global_planeicon.png") no-repeat scroll center center #F5D46D;	
	height:35px;
	width:45px;
}


.submit-wrapper{
	position: relative;
}

.sub-menu{
	display: none;
}

#wp-admin-bar{
	width: 100% !important;
	padding: 0 !important;
	margin: 0;
	height: 25px !important;
}

#wp-admin-bar  a{
	color:#EEEEEE;
}


.mu_register{
	line-height: 45px;

}

.mu_register h2{
	padding-left : 0;
}

.mu_register input{
	width: 50% !important;
	position: relative !important;
}


.mu_register .submit {
	background: none !important;
	color: black !important;
	font-size: auto !important;
	font-weight: normal !important;
	letter-spacing: auto !important;
	padding: auto !important;
	position:relative; !important;
	right: auto !important;
	left: 0 !important;
	text-align: left !important;
	-moz-box-shadow: none;
}

.widecolumn{
	-moz-box-shadow:0 25px 30px #AAAAAA !important;
}
